.grid4-container{
    display: grid;
    grid-template-columns: 500px 1fr;
    gap: 2.5em;
    background: gray;
    border-radius: 12px;
}

.grid4-container img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}