        button{
                background: linear-gradient(90deg, #2596be, #49b483); /* blue to green gradient */
                color: white;
                border: none;
                border-radius: 8px;
                padding: 9px 18px;
                font-size: 14px;
                cursor: pointer;
                transition: 0.3s;
                cursor: pointer;
                font-weight: bold;
                transition: opacity 0.15s;
            }

            nav li{
                display: inline;
                margin-right: 40px;
            }

            button:hover{
                opacity: 0.7;
            }

            button:active{
                opacity: 0.4;
            }

            /* Common Text/Button Styles (Added for completeness) */
            h2 {
                font-size: 2em;
                margin-bottom: 20px;
            }
            h3 {
                margin-top: 0;
}

           
            